@import url(normalize.css);
@import url(../font-awesome/css/all.min.css);
@import url(bootstrap.min.css);
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

html {
  height: 100%; }

body li {
  list-style: none; }

.pre-header {
  background-color: #f9fafd; }
  .pre-header a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    line-height: 26px; }
  .pre-header .phone {
    padding: 8px; }
  .pre-header .email {
    padding: 8px; }
  .pre-header .fas {
    font-size: 12px;
    padding-right: 3px; }

.header {
  padding-top: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dcdcdc; }
  .header .navbar-nav li.active > a.nav-link {
    color: #2355da; }
  .header .navbar {
    padding: 0; }
  .header button {
    background: #0aa5aa;
    border-radius: 0;
    padding: 8.5px 9.3px; }
    .header button:focus {
      outline: none; }
  .header .navcross span:first-of-type {
    display: none; }
  .header .navcross span:last-of-type {
    display: block;
    padding: 0 2px; }
  .header .navcross.collapsed span:first-of-type {
    display: block; }
  .header .navcross.collapsed span:last-of-type {
    display: none; }
  .header .fa-bars {
    color: #FFFFFF; }
  .header .fa-times {
    color: #FFFFFF; }
  .header .navbar-brand {
    padding: 0; }
    @media (max-width: 991px) {
      .header .navbar-brand {
        margin-bottom: 5px; } }
  .header .dropdown-toggle:after {
    display: inline-block;
    margin-left: 4px;
    vertical-align: 4px;
    content: "";
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent; }
  .header .dropdown-menu {
    border-color: #2355da; }
    .header .dropdown-menu .dropdown-item {
      color: #3a3a3a;
      text-transform: capitalize;
      font-size: 14px;
      font-family: "Varela Round", sans-serif;
      font-weight: 600;
      border-bottom: 1px solid #eaeaea; }
      .header .dropdown-menu .dropdown-item:hover {
        color: #2355da;
        background-color: #ffffff; }
  .header a {
    color: #3a3a3a;
    text-decoration: none; }
    @media (max-width: 991px) {
      .header a {
        display: inline-block; } }
  .header .nav-link {
    padding: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    line-height: 32px;
    background-color: #fff; }
    @media (min-width: 992px) and (max-width: 1200px) {
      .header .nav-link {
        padding: 0; } }
    .header .nav-link:hover {
      color: #2355da; }
    @media (max-width: 991px) {
      .header .nav-link {
        border-bottom: 1px solid #eaeaea;
        padding: 5px 10px; } }
  .header .nav-item {
    padding: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    line-height: 32px; }
    @media (min-width: 991px) and (max-width: 1200px) {
      .header .nav-item {
        padding: 0; } }
    .header .nav-item:hover {
      color: #2355da; }
    @media (max-width: 991px) {
      .header .nav-item {
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 3px; } }
  .header .btn-header {
    margin-top: 10px; }
    @media (min-width: 992px) {
      .header .btn-header {
        margin-top: 0; } }
    .header .btn-header .btn-get {
      border-radius: 50px;
      border: 2px solid #2355DA;
      color: #2355DA;
      font-size: 13px;
      font-family: "Varela Round", sans-serif;
      padding: 12.5px 20px;
      font-weight: 600;
      margin-right: 4px;
      margin-bottom: 6px; }
      .header .btn-header .btn-get:hover {
        background-color: #2355DA;
        color: #ffffff;
        transition: all .5s; }
    .header .btn-header .btn-call {
      border-radius: 50px;
      border: 2px solid #4DE55C;
      color: #4DE55C;
      font-size: 13px;
      font-family: "Varela Round", sans-serif;
      padding: 12.5px 20px;
      font-weight: 600; }
      .header .btn-header .btn-call .fas {
        padding-left: 2px;
        font-size: 12px;
        font-weight: 600; }
      .header .btn-header .btn-call:hover {
        background-color: #4DE55C;
        color: #ffffff;
        transition: all .5s; }

.blog-content {
  padding: 60px 0 0;
  background-color: #F5F5F5; }
  .blog-content .container {
    background-color: #fff;
    padding: 74px 93px; }
    @media (max-width: 991px) {
      .blog-content .container {
        padding: 15px 15px; } }
  .blog-content .col-md-12 {
    position: relative; }
  .blog-content .title-main {
    font-size: 30px;
    font-family: "Varela Round", sans-serif;
    color: #3a3a3a;
    margin-bottom: 6px; }
  .blog-content .head-link {
    display: inline-block;
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #2355DA;
    margin-bottom: 28px; }
    .blog-content .head-link:hover {
      color: #3a3a3a; }
  .blog-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 70px; }
  .blog-content .text-blog-1 {
    float: right;
    font-size: 14px;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 23px;
    color: #3a3a3a;
    line-height: 24px;
    clear: both; }
    .blog-content .text-blog-1:first-letter {
      float: left;
      font-size: 118px;
      margin: 5.88px 11.76px 10px 10px;
      line-height: 79px; }
  .blog-content .text-wrapper {
    border-left: 4px solid #F2F2F2;
    margin: 23.1px 15.4px 60px 46.2px;
    padding: 18.5px;
    font-style: italic;
    font-family: "Varela Round", sans-serif;
    font-size: 15.4px;
    color: #000000;
    line-height: 28px; }
  .blog-content .col-md-12 {
    position: relative; }
    .blog-content .col-md-12:last-child img {
      margin-bottom: 200px; }
      @media (max-width: 1199px) {
        .blog-content .col-md-12:last-child img {
          margin-bottom: 0; } }
    .blog-content .col-md-12 .title-wrapper {
      width: 91.5%;
      padding: 49.5px 30px;
      background-color: #3a3a3a;
      position: absolute;
      left: 22%;
      top: 38%; }
      @media (max-width: 1199px) {
        .blog-content .col-md-12 .title-wrapper {
          position: static;
          width: 100%;
          padding: 15px 15px;
          margin-bottom: 15px; } }
      .blog-content .col-md-12 .title-wrapper .title-img {
        font-size: 42px;
        font-family: "Varela Round", sans-serif;
        color: #FFFFFF; }
        @media (max-width: 767px) {
          .blog-content .col-md-12 .title-wrapper .title-img {
            font-size: 20px; } }
  .blog-content .col-md-6 p {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #3a3a3a;
    margin-bottom: 22.4px;
    line-height: 24px; }

.page-list {
  background-color: #F5F5F5;
  padding: 28px; }
  .page-list .col-md-12 {
    padding: 0 60px; }
    @media (max-width: 767px) {
      .page-list .col-md-12 {
        padding: 0 5px; } }
    .page-list .col-md-12 .pagination {
      margin-bottom: 0; }
      .page-list .col-md-12 .pagination .page-link {
        background-color: #F5F5F5;
        border: none;
        font-size: 15px;
        color: #2355da; }
        .page-list .col-md-12 .pagination .page-link:focus {
          outline: 0;
          box-shadow: none; }
        .page-list .col-md-12 .pagination .page-link .fas {
          vertical-align: middle; }
        .page-list .col-md-12 .pagination .page-link:hover {
          color: #3a3a3a;
          background-color: #F5F5F5; }

.blog-form {
  background-color: #F5F5F5;
  padding-bottom: 56px; }
  .blog-form .container {
    background-color: #fff;
    padding: 74px 93px; }
    @media (max-width: 991px) {
      .blog-form .container {
        padding: 15px 15px; } }
  .blog-form .col-4:nth-child(2) {
    padding-left: 0; }
    @media (max-width: 767px) {
      .blog-form .col-4:nth-child(2) {
        padding: 0; } }
  @media (max-width: 767px) {
    .blog-form .col-4:nth-child(3) {
      padding: 0; } }
  .blog-form .col-4:nth-child(4) {
    padding-right: 0; }
    @media (max-width: 767px) {
      .blog-form .col-4:nth-child(4) {
        padding: 0; } }
  .blog-form .title-form {
    font-family: "Varela Round", sans-serif;
    font-size: 23px;
    color: #3a3a3a;
    line-height: 30px; }
  .blog-form p {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #3a3a3a;
    margin-bottom: 21px; }
  .blog-form textarea {
    margin-bottom: 25px;
    height: 250px;
    width: 100%;
    border-radius: 0; }
  .blog-form input {
    padding: 28.5px;
    margin-bottom: 20px;
    border-radius: 0; }
  .blog-form .form-check-input {
    margin-bottom: 0;
    margin-right: 10px; }
  .blog-form .form-check-label {
    font-size: 14px;
    color: #3a3a3a;
    font-family: "Varela Round", sans-serif; }
    @media (max-width: 767px) {
      .blog-form .form-check-label {
        font-size: 12.68px; } }

.footer {
  padding-top: 70px;
  font-family: "Varela Round", sans-serif;
  background-color: #f9fafd; }
  .footer a {
    text-decoration: none;
    color: #000000;
    font-size: 12px; }
  .footer .appz {
    text-decoration: none;
    color: #2355da; }
    .footer .appz:hover {
      color: #000000;
      transition: all .5s; }
  .footer img {
    width: 150px;
    height: 53px;
    margin-bottom: 33.6px; }
  .footer p {
    color: #000000;
    font-size: 12px;
    word-spacing: 2px; }
  .footer .title {
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px; }
  .footer .fas {
    color: #2185f5;
    font-weight: 600;
    margin-right: 8px;
    vertical-align: center; }
  .footer .fab {
    color: #2185f5;
    font-size: 15px;
    margin-right: 8px; }
  .footer .wrapper-items {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    font-size: 12px;
    color: #000000;
    vertical-align: center; }
    .footer .wrapper-items .fa-chevron-right {
      font-size: 12px;
      vertical-align: middle;
      color: #2185f5;
      margin-right: 8px; }
  .footer strong {
    font-size: 12px; }
  .footer span {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 15px; }
  .footer .contact .email-footer {
    display: inline-block;
    margin-bottom: 13.5px; }
    .footer .contact .email-footer .fa-envelope {
      font-size: 18px;
      vertical-align: middle; }
  .footer .contact .phone-footer {
    display: inline-block;
    margin-top: 13.5px;
    margin-bottom: 13.5px; }
    .footer .contact .phone-footer .fa-phone-volume {
      font-size: 18px;
      vertical-align: middle; }
  .footer .contact .skype {
    display: inline-block;
    margin-top: 13.5px;
    margin-bottom: 13px; }
    .footer .contact .skype .fa-skype {
      font-size: 18px;
      vertical-align: middle;
      color: #2185f5;
      margin-right: 8px; }
  .footer .button-up {
    position: relative; }
    .footer .button-up a {
      border-radius: 50px;
      width: 50px;
      height: 50px;
      background-color: rgba(102, 204, 255, 0.7);
      position: fixed;
      bottom: 4%;
      right: 3%; }
      .footer .button-up a:hover {
        box-shadow: 0 10px 30px -8px black; }
      .footer .button-up a .fas {
        color: #FFFFFF;
        font-size: 18px;
        position: absolute;
        top: 34%;
        left: 35%;
        max-width: 100%; }
  .footer .container-fluid {
    font-family: "Varela Round", sans-serif;
    padding: 10px 10px;
    background-color: #ffffff; }
    .footer .container-fluid .copyright {
      display: inline-block;
      margin-top: 14px;
      font-size: 17px;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .footer .container-fluid .copyright {
          font-size: 12px; } }

/*# sourceMappingURL=blog-page-3.css.map */
